{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 1 versions"]
      }
    }],
    "react"
  ],
  "plugins": [
    ["transform-react-jsx", { "pragma":"h" }],
    "transform-decorators-legacy"
  ]
}
